
{% extends 'base/real_base.html' %}

{% block start %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
        <div id="lens">

        </div>
      <div> <a href="#"><img id="img" src="/media/{{product.product_images.first.image}}"></a></div>
    </div> <!-- slider-product.// -->
    <div class="thumbs-wrap">
      {% for image in product.product_images.all %}
      
      <a href="#" class="item-thumb"> <img src="/media/{{image.image}}"></a>
    
      {% endfor %}
    
    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product.product_name}} </h2>
    
    <div class="rating-wrap my-3">
        <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
            <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
            </li>
        </ul>
        <small class="label-rating text-muted">132 reviews</small>
        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
    </div> <!-- rating-wrap.// -->
    
    <div class="mb-3"> 
        <var class="price h4">₹ 
            {% if updated_price %}
            {{updated_price}}

            {% else %}
            {{product.price}}</var> 
            {% endif %}
        <!-- <span class="text-muted">/Normal Price</span>  -->
    </div> <!-- price-detail-wrap .// -->
    
    <p>{{product.product_description}}</p>
    
    
    <dl class="row">
      <dt class="col-sm-3">Author#</dt>
      <dd class="col-sm-9">{{product.author}}</dd>
    

    
      <dt class="col-sm-3">Delivery</dt>
      <dd class="col-sm-9">India</dd>
    </dl>
    
    <hr>
        <div class="form-row">
          <div class="form-group col-md flex-grow-0">
            <label>Quantity</label>
            <div class="input-group mb-3 input-spinner">
                <div class="input-group-prepend">
                    <button class="btn btn-light" type="button" id="button-plus"> + </button>
                </div>
                <input type="text" class="form-control" id="quantity" value="1">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button" id="button-minus"> − </button>
                </div>
            </div>
        </div>    

        <!-- {% if product.language_variant.count %}
        <div class="form-group col-md">
            <label>Select Language</label>
            <div class="mt-1">
                {% for language in product.language_variant.all %}
                <label class="custom-control custom-radio custom-control-inline">
                  <input type="radio" onchange="get_correct_language_price('{{language.name}}')" name="select_language" {% if selected_language == language.name %} checked {% endif %} class="custom-control-input">
                  <div class="custom-control-label">{{language.name}}</div>
                </label>
                {% endfor %}

            </div>
    </div> 
        {% endif %} -->


        {% if product.edition_variant.count %}
    <div class="form-group col-md">
        <label>Select Edition</label>
        <div class="mt-1">
            {% for edition in product.edition_variant.all %}
            <label class="custom-control custom-radio custom-control-inline">
              <input type="radio" onclick="get_correct_edition_price('{{edition.name}}')" name="select_edition" {% if selected_edition == edition.name %} checked {% endif %} class="custom-control-input">
              <div class="custom-control-label">{{edition.name}}</div>
            </label>
            {% endfor %}

        </div>
</div> 
        {% endif %}

      
        </div> <!-- row.// -->
    
        <a href="#" class="btn  btn-primary"> Buy now </a>
        <a href="{% url 'add_to_cart' product.uid %}?variant={{selected_edition}}" class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
    </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    

    </div>
    </section>


    <script>
        // function get_correct_language_price(language){
        //     console.log(language)
        //     debugger;
        //     window.location.href = window.location.pathname + `?language=${language}`
        //     return false;
            
        // }



        function get_correct_edition_price(edition){
            console.log(edition)

            debugger;
            window.location.href = window.location.pathname + `?edition=${edition}`
            return false; 
        }
    </script>

{% endblock %}







