{% extends 'base/real_base.html' %}

{% block start %}
<style>
	.carousel {
    height: 80vh;
	overflow: hidden;

	
}
#heroCarousel img {
        height: 700px; /* Set the desired height for your carousel */
        object-fit: cover; /* This property ensures the image covers the entire container while maintaining its aspect ratio */
        width: 100%; /* Ensure the image takes the full width of the container */
    } 
#heroCarousel .carousel-item {
    margin-right: 0; 
}

@media only screen and (max-width: 1024px) {
    .fixed-size.third-item {
        margin-left: 2%; 
    }

    .carousel {
        height: 42vh; 
    }
	.btn-explore{
		margin-left: 40%;
	}
	#heroCarousel img {
        height: 550px; /* Set the desired height for your carousel */
        object-fit: cover; /* This property ensures the image covers the entire container while maintaining its aspect ratio */
        width: auto; /* Ensure the image takes the full width of the container */
    } 
}


@media only screen and (max-width: 767px) {
    .fixed-size,
    .fixed-size.third-item {
        margin-left: 11%; 
    }
	.btn-explore{
		margin-left: 32%;
	}
	.carousel {
        height: 30vh; 
    }
	#heroCarousel img {
        height: 280px; /* Set the desired height for your carousel */
        object-fit: cover; /* This property ensures the image covers the entire container while maintaining its aspect ratio */
        width: auto; /* Ensure the image takes the full width of the container */
    } 

}
</style>

<!-- Start Hero Section with Carousel -->
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% if banners %}
            {% for banner in banners %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <img src="{{ banner.image.url }}" class="d-block w-100" alt="Banner {{ forloop.counter }}">
                    <div class="carousel-caption d-none d-md-block">
                        <!-- Additional text or content for the carousel item -->
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- Default Carousel Item (use a default image) -->
            <div class="carousel-item active">
				<img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?size=626&ext=jpg&ga=GA1.1.1269040533.1708992000&semt=sph" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <!-- Additional text or content for the default carousel item -->
                </div>
            </div>
        {% endif %}
    </div>

    <!-- Add carousel controls if needed -->
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- End Hero Section with Carousel -->

		<!-- Start Hero Section -->
			<div class="hero background-image">
				<div class="container" style="padding: 100px;">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Historia<span class="d-block"> Bookstore</span></h1>
								<p class="mb-4">"A book is a dream that you hold in your hand." - Neil Gaiman
									"There are many little ways to enlarge your world. Love of books is the best of all." - Jacqueline Kennedy Onassis</p>
								<p><a href="{% url 'all_products' %}" class="btn btn-secondary me-2">Shop Now</a><a href="{% url 'all_products' %}"  class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<!-- <div class="hero-img-wrap">
								<img src="/media/userside/img/cover2.jpg" class="img-fluid">
							</div> -->
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">

			<div class="container-background">
						<div class="container mt-5 ">
							
							<div class="now-trending-background">
								<h2 class="mb-4 section-title">Now Trending</h2>
							</div>
							<h2 class="mb-4 section-title"> </h2>
							<div class="row">
			
								<!-- Start Column 1 -->
								<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
									<h2 class="mb-4 section-title">Crafted with excellent material.</h2>
									<p class="mb-4">Explore the latest bestsellers captivating readers with gripping plots, relatable characters, and intriguing storytelling. Discover why these books are gaining popularity and resonating with audiences worldwide." </p>
									<p><a href="{% url 'all_products' %}"  class="btn btn-explore">Explore</a></p>
								</div> 
								<!-- End Column 1 -->
								{% for product in products|slice:":3" %}
								<!-- Start Column 2 -->
								<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 fixed-size {% if forloop.counter0 == 2 %}third-item{% endif %}">
									<a class="product-item" href="{% url 'get_product' product.slug %}">
									{% if product.product_images.first %}
										<img src="{{ product.product_images.first.image.url }}" class="img-fluid product-thumbnail">
									{% else %}
										<img src="/media/userside/img/loading.jpg" class="img-fluid product-thumbnail">
									{% endif %}
								<h3 class="product-title">{{product.product_name}}</h3>
										<!-- <strong class="product-price">₹ {{product.promotional_price}}-{{product.price}} </strong> -->
			
										<span class="icon-cross">
											<img src="/media/home/images/cross.svg" class="img-fluid">
										</span>
									</a>
								</div> 
								<!-- End Column 2 -->
								{% endfor %}
								<div class="col-12 text-center mt-4 ">

									<a href="{% url 'all_products' %}" class="btn btn-white-outline btn-seemore">See more</a>
								</div>
			
							</div>
						</div>
					</div>
					</div>
					<!-- End Product Section -->

							<!-- Start Product Section -->
		<div class="product-section">

			<div class="new-container-background">
						<div class="container mt-5 ">
							
							<div class="now-trending-background">
								<h2 class="mb-4 section-title">Newly Added</h2>
							</div>
							<h2 class="mb-4 section-title">   </h2>
							<div class="row">
			
								<!-- Start Column 1 -->
								<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
									<h3 class="mb-4 section-title">Newly Added Books</h2>
									<p class="mb-4">Discover our latest additions, each crafted with excellent material and offering gripping plots, relatable characters, and intriguing storytelling. Explore why these new books are gaining popularity and resonating with audiences worldwide.</p>
									<p><a href="{% url 'all_products' %}"  class="btn btn-explore">Explore</a></p>
								</div> 
								<!-- End Column 1 -->
								{% for product in new_products|slice:":3" %}
								<!-- Start Column 2 -->
								<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 fixed-size {% if forloop.counter0 == 2 %}third-item{% endif %}">
									<a class="product-item" href="{% url 'get_product' product.slug %}">
									{% if product.product_images.first %}
										<img src="{{ product.product_images.first.image.url }}" class="img-fluid product-thumbnail">
									{% else %}
										<img src="/media/userside/img/loading.jpg" class="img-fluid product-thumbnail">
									{% endif %}
								<h3 class="product-title">{{product.product_name}}</h3>
										<!-- <strong class="product-price">₹ {{product.promotional_price}}-{{product.price}} </strong> -->
			
										<span class="icon-cross">
											<img src="/media/home/images/cross.svg" class="img-fluid">
										</span>
									
									</a>
								</div> 
								<!-- End Column 2 -->
								{% endfor %}
								<div class="col-12 text-center mt-4 ">

									<a href="{% url 'all_products' %}" class="btn btn-white-outline btn-seemore">See more</a>
								</div>
			
			
							</div>
						</div>
					</div>
					</div>
					<!-- End Product Section -->
			
	




{% endblock %}