
{% extends 'base/real_base.html' %}

{% block start %}

		<!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-lg-5">
                  <div class="intro-excerpt">
                      <h1>Cart</h1>
                  </div>
              </div>
              <div class="col-lg-7">
                  
              </div>
          </div>
      </div>
  </div>
<!-- End Hero Section -->



<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        {% csrf_token %}
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.cart_item.all %}
              <tr data-item-uid="{{ item.uid }}" data-quantity="{{ item.qty }}">
                <td class="product-thumbnail">
                  <img src="{{ item.product.product_images.first.image.url }}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black">{{ item.product.product_name }}</h2>
                  {% if item.edition_variant %}
                    <p>Edition: {{ item.edition_variant.name }}</p>
                  {% endif %}
                </td>
                <td>₹{{ item.get_product_intial_price }}</td>
                <td>
                  <div class="quantity-container" style="max-width: 120px;">
                    <button class="btn btn-outline-black" id="button-minus" type="button" onclick="changeQuantity('{{ item.uid }}', 'minus')">−</button>
                    <input type="number" min="1" class="form-control text-center quantity-amount" value="{{ item.qty }}" aria-label="Quantity" aria-describedby="button-addon1">
                    <button class="btn btn-outline-black" id="button-plus" type="button" onclick="changeQuantity('{{ item.uid }}', 'plus')">+</button>
                  </div>
                </td>
                <td class="product-total" id="total-{{ item.uid }}">₹{{ item.get_product_price }}</td>

                <td><a href="{% url 'remove_cart' item.uid %}" class="btn btn-black btn-sm">X</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      
    </div>
<!-- ----------------------------------------------Bottom section --------------------- -->
    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-black btn-sm btn-block">Update Cart</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Coupon</label>
            <p>Enter your coupon code if you have one.</p>
          </div>
          <div class="col-md-8 mb-3 mb-md-0">
            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
          </div>
          <div class="col-md-4">
            <button class="btn btn-black">Apply Coupon</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black" id="grand-subtotal">₹{{cart.get_cart_total}}</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black" id="grand-total">₹{{cart.get_cart_total}}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function getCSRFToken() {
    const csrfTokenInput = document.getElementsByName('csrfmiddlewaretoken')[0];
    return csrfTokenInput ? csrfTokenInput.value : null;
  }

  function changeQuantity(itemUid, action) {
    const quantityElement = document.querySelector(`tr[data-item-uid="${itemUid}"] .quantity-amount`);
    let newQuantity = parseInt(quantityElement.value);

    if (action === 'plus') {
      newQuantity++;
    } else if (action === 'minus' && newQuantity > 1) {
      newQuantity--;
    }
    quantityElement.value = newQuantity;

    console.log(`Item UID: ${itemUid}, New Quantity: ${newQuantity}`);
    updateQuantityOnServer(itemUid, newQuantity);
  }

  function updateQuantityOnServer(itemUid, newQuantity) {
    const csrfToken = getCSRFToken();

    if (!csrfToken) {
      console.error('CSRF token is missing.');
      return;
    }

    const data = {
      itemUid: itemUid,
      newQuantity: newQuantity
    };

    fetch("{% url 'change_quantity' %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
      const totalElement = document.getElementById(`total-${itemUid}`);
      const grandTotalElement = document.getElementById('grand-total');
      const grandSubTotalElement = document.getElementById('grand-subtotal');

      if (totalElement) {
        totalElement.textContent = `₹${data.newTotal}`;
      }

      if (grandTotalElement) {
        grandTotalElement.textContent = `₹${data.grand_total}`;
      }
      if (grandSubTotalElement) {
        grandSubTotalElement.textContent = `₹${data.grand_total}`
      }
    })
    .catch(error => console.error('Error:', error));
  }
</script>





{% endblock %}







