{% extends 'base/real_base.html' %}

{% block start %}

<style>
    .order-item-wrapper {
        background-color: #e6e6e6;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    
    .order-item {
        display: flex;
    }
    
    .product-image {
        width: 100px;
        height: 150px;
        margin-right: 20px;
    }
    
    .image-wrapper {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    .product-details {
        flex-grow: 1;
    }
    
    .product-name {
        font-weight: bold;
    }
    
    .quantity {
        display: flex;
        align-items: center;
    }
    
    .qty-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .qty-value {
        margin: 0 10px;
        font-weight: bold;
    }
    
    .remove-link {
        color: #dc3545;
        text-decoration: none;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .remove-link:hover {
        text-decoration: underline;
    }
    


</style>

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Checkout</h1>
                    </div>
                </div>
                <div class="col-lg-7"></div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    

    <div class="untree_co-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="border p-4 rounded" role="alert">
                        Returning customer? <a href="#">Click here</a> to login
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border p-4 rounded alert-message" id="alert-message" role="alert">
                        {% include 'base/alert.html' %}
                    </div>

                </div>
            </div>
            <div class="row">
               

                <!-- Left Column - Billing, Order Summary, and Continue Button -->
                <div class="col-md-6" id="billing-section">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="h3 mb-3 text-black">Billing Details</h2>
                        <button class="btn btn-link" onclick="enableOrderSummary()">Change</button>
                    </div>
                    
                    <!-- Display all addresses with radio buttons for selection -->
                    <div class="other-addresses mt-5">
                        {% for address in addresses %}
                        <!-- Display details of other addresses in a loop -->
                        <div class="address-card">
                            <label>
                                <input type="radio" name="selected-address" value="{{ address.uid }}" id="address-{{ address.uid }}" {% if default_address and default_address.address == address %}checked{% endif %}>                                <p>{{ address.name }}, {{ address.postal_code }}, {{ address.street_address }}, {{ address.city }}, {{ address.state }}, {{ address.country }}</p>
                                <p>Mobile: {{ address.mobile }}</p>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="selected-address-uid" name="selected-address-uid" value="">

                    <a href="{% url 'new_address' %}">Add a new address</a>
                    
                    <!-- Delivery button -->
                    <div class="text-center mt-3">
                        <button class="btn btn-black" id="enableDelivery" disabled onclick="enableDelivery()">Delivery Here</button>
                    </div>
                </div>
                <!-- End Left Column -->

<!-- Order Summary Section -->
<div class="col-md-6">
    <h2 class="h3 mb-3 text-black">Order Summary</h2>
    <div class="p-3 p-lg-5 border bg-white" id="order-summary-section" disabled>
        {% for item in order_items %}
            <div class="order-item-wrapper">
                <div class="order-item">
                    <div class="product-image">
                        <div class="image-wrapper" style="background-image: url('{{ item.product.product_images.first.image.url }}');"></div>
                    </div>
                    <div class="product-details">
                        <p class="product-name">{{ item.product.product_name }}</p>
                        {% if item.edition_variant %}
                        <p class="edition-variant">Variance: {{ item.edition_variant }}</p>
                        {% endif %}
                        
                        <div class="quantity">
                            <button class="qty-button btn btn-primary ml-3" onclick="changeQuantity('{{ item.uid }}', 'minus')">-</button>
                            <input type="number" min="1" max="{{item.product.stock_quantity}}" class="qty-input" id="qty-{{ item.uid }}" value="{{ item.qty }}" style="width: 30px; text-align: center;">
                            <button class="qty-button btn btn-primary" onclick="changeQuantity('{{ item.uid }}', 'plus')">+</button>
                        </div>
                        
                        
                        <p class="product-price" id="total-{{ item.uid }}">Price: ₹{{ item.get_product_price }}</p>
                        <a href="{% url 'remove_cart' item.uid %}" class="remove-link" disabled>Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="text-right">
            <button id="continue-button" class="btn btn-black" data-cart-uid="{{ cart_uid }}" onclick="enablePaymentSection()" disabled>CONTINUE</button>        </div>
    </div>
    <!-- End Order Summary Section -->
</div>


                <!-- Right Column - Coupon and Your Order Section -->
                <div class="col-md-6">
                    <!-- Coupon Section -->
                    <!-- <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                            <div class="p-3 p-lg-5 border bg-white">
                                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                                <div class="input-group w-75 couponcode-wrap">
                                    <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-black btn-sm" type="button" id="button-addon2" onclick="enableOrderSummary()">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Your Order Section -->
                    <div class="row mb-5 ">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Your Order</h2>
                            <div class="p-3 p-lg-5 border bg-white" id="payment-section" disabled>
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                            <td class="text-black" id="grand-total">₹ {{cart_total}}</td>
                                        </tr>
                                        {% if cart_total < 999 %}
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Delivery Charge</strong></td>
                                            <td class="text-black" id="delivery-charge">₹ {{cart.delivery_charge}}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Delivery Charge</strong></td>
                                            <td class="text-black" id="delivery-charge">₹ 0</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="text-black font-weight-bold" ><strong>Order Total</strong></td>
                                            <td class="text-black font-weight-bold" id="grand-subtotal"><strong>₹ {{final_total}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                                {% for payment in payment_methods %}
                                <!-- Payment Options -->
                                <div class="border p-3 mb-5">
                                    <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank-{{payment.uid}}" role="button" aria-expanded="false" aria-controls="collapsebank-{{payment.uid}}">{{payment.name}}</a></h3>
                                    <div class="collapse" id="collapsebank-{{payment.uid}}">
                                        <div class="py-2">
                                            <p class="mb-0">{{payment.description}}</p>
                                        </div>
                                
                                        <!-- Button for "Use this payment method" -->
                                        <button id="use-payment-method-button-{{payment.uid}}" class="btn btn-black btn-sm" onclick="usePaymentMethod('{{payment.uid}}')" disabled>Use this payment method</button>    </div>
                                    </div>
                                {% endfor %}


                                <div class="form-group">
                                    <button class="btn btn-black btn-lg py-3 btn-block" id="place-order-btn" onclick="placeOrder()" disabled>Place Order</button>
                                    <div id="razorpay-button" data-callback-url="{% url 'razorpay_callback' %}"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Right Column -->
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- <script src="https://checkout.razorpay.com/v1/razorpay.js"></script> -->






    <script>
        const paymentMethods = [
            {% for payment in payment_methods %}
                { uid: "{{ payment.uid }}", name: "{{ payment.name }}", description: "{{ payment.description }}" },
            {% endfor %}
        ];
    </script>


    <script>

function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        function enableOrderSummary() {
            document.getElementById('enableDelivery').disabled = false;

            
        }



        function enablePaymentSection() {
    // Enable the "Use this payment method" button

    // Disable the "Continue" button to prevent multiple clicks
    document.getElementById('continue-button').disabled = true;

    paymentMethods.forEach(payment => {
            const buttonId = `use-payment-method-button-${payment.uid}`;
            const paymentButton = document.getElementById(buttonId);

            if (paymentButton) {
                paymentButton.disabled = false;
                paymentButton.addEventListener('click', function() {
                selectedPaymentUid = payment.uid;
            });
                
            } else {
                console.error(`Element not found: ${buttonId}`);
            }
        });

    // Retrieve the cart_uid from the data attribute
    const cartUid = document.getElementById('continue-button').getAttribute('data-cart-uid');


    // Now you can use the cartUid in your further processing
    console.log('Cart UID:', cartUid);
}




function usePaymentMethod(paymentUid) {
    // Enable the "Place Order" button
    const placeOrderBtn = document.getElementById('place-order-btn');
    if (placeOrderBtn) {
        placeOrderBtn.disabled = false;
    } else {
        console.error('Place Order button not found.');
    }

    // Set the data-selected-payment-uid attribute on the "Use this payment method" button
    const usePaymentMethodButton = document.getElementById(`use-payment-method-button-${paymentUid}`);
    usePaymentMethodButton.setAttribute('data-selected-payment-uid', paymentUid);

    // You can perform any additional actions here, such as updating the order with the selected payment method
    console.log('Selected Payment Method:', paymentUid);

    // If needed, you can also redirect the user to the next step or perform other actions
    // Example: window.location = 'next_step_url';
}

        

        function enableDelivery() {
            document.getElementById('enableDelivery').disabled = true;
            document.getElementById('continue-button').disabled = true;
            
    var selectedAddressInput = document.querySelector('input[name="selected-address"]:checked');
    
    if (selectedAddressInput) {
        var selectedAddressValue = selectedAddressInput.value;

        if (selectedAddressValue) {
            console.log("Delivery option enabled for address with UID: " + selectedAddressValue);

            // Set the value of the hidden input
            var selectedAddressUidInput = document.getElementById('selected-address-uid');

            if (selectedAddressUidInput) {
                selectedAddressUidInput.value = selectedAddressValue;

                // Enable the "Continue" button
                var continueButton = document.getElementById('continue-button');

                if (continueButton) {
                    continueButton.disabled = false;
                } else {
                    console.error('Continue button not found.');
                }
            } else {
                console.error('Selected address UID input not found.');
            }
        } else {
            alert("Selected address value is empty.");
        }
    } else {
        alert("Please select an address before enabling delivery.");
    }
}


// ----------------------------function for placing order-----------------------------


function placeOrder() {
    Swal.fire({
        title: 'Are you sure?',
        text: 'Do you want to place the order?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, place order!'
    }).then((result) => {
        if (result.isConfirmed) {
            // Gather data from the front end
            const selectedAddressUid = document.querySelector('input[name="selected-address"]:checked').value;
            const paymentUid = selectedPaymentUid;
            const selectedCartItemUid = document.getElementById('continue-button').getAttribute('data-cart-uid');

            const onlinePaymentUid = "{{ online_payment_uid }}"; 
            const cashOnDeliveryUid = "{{ cash_on_delivery_uid }}";
            const WalletPaymentUid = "{{ wallet_payment_uid }}"; 

            // Check the payment method
            if (paymentUid === cashOnDeliveryUid ) {
                console.log('Cash o D Payment')
                const cartTotalElement = document.getElementById('grand-total');
                const cartTotal = parseFloat(cartTotalElement.innerText.replace('₹', ''));
                console.log(cartTotal)


                if (cartTotal > 1000) {
                    const paymentDiv = document.getElementById('payment-section');
                    const errorSpan = document.createElement('span');
                    errorSpan.innerText = 'Orders below ₹1000 can only do Cash on Delivery payment.';
                    errorSpan.style.color = 'red';
                    errorSpan.style.fontSize ='16px' ; 
                    paymentDiv.appendChild(errorSpan);
                        
                    return;
                    return Swal.showValidationMessage('Orders below ₹1000 can only do Cash on Delivery payment.');
                }
                

                handleCashOnDelivery(selectedAddressUid, cashOnDeliveryUid, selectedCartItemUid);
            } else if (paymentUid === onlinePaymentUid) {
                console.log('Online Payment')
                handleOnlinePayment(selectedAddressUid, onlinePaymentUid, selectedCartItemUid);
            } else if (paymentUid === WalletPaymentUid) {
                console.log('Wallet Payment')

                const paymentDiv = document.getElementById('payment-section');

                const existingErrorSpan = paymentDiv.querySelector('.wallet-balance-error');

                if (existingErrorSpan) {
                    paymentDiv.removeChild(existingErrorSpan);
                }


                const walletBalance = parseFloat("{{ wallet_balance }}");
                console.log(walletBalance)
                console.log

                const cartTotalElement = document.getElementById('grand-subtotal');
                const cartTotal = parseFloat(cartTotalElement.innerText.replace('₹', ''));
                console.log(cartTotal)
                if (cartTotal > walletBalance) {
                    const paymentDiv = document.getElementById('payment-section');
                    const errorSpan = document.createElement('span');
                    errorSpan.innerText = 'Insufficient wallet balance.';
                    errorSpan.style.fontSize ='16px' ;
                    errorSpan.style.color = 'red';
                    errorSpan.classList.add('wallet-balance-error');
                    paymentDiv.appendChild(errorSpan);

                    return;
                }


                handleWalletPayment(selectedAddressUid, WalletPaymentUid, selectedCartItemUid);
                
            }
             else {
                console.error('Unknown payment method:', paymentUid);
            }
        }
    });
}


// Function to handle Cash on Delivery
function handleCashOnDelivery(selectedAddressUid, cashOnDeliveryUid, selectedCartItemUid) {
    const orderData = {
        addressUid: selectedAddressUid,
        paymentUid: cashOnDeliveryUid,
        cartItemUid: selectedCartItemUid,
    };

    // Fetch to the specified URL with the collected data
    fetch("{% url 'save_order' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(orderData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        // Handle the response
        console.log('Order saved successfully:', data);

        if (data.status === 'error') {
            // Redirect to the checkout page with an error message
            Swal.fire({
                title: 'Error',
                text: data.message,
                icon: 'error',
                confirmButtonText: 'OK'
            }).then(() => {
                window.location.reload();
            });
        } else {
            // Redirect or perform other actions as needed
            window.location.href = 'thankyou';
        }
    })
    .catch(error => console.error('Error:', error));
}





function handleOnlinePayment(selectedAddressUid, onlinePaymentUid, selectedCartItemUid) {



    saveOrder(selectedAddressUid, onlinePaymentUid, selectedCartItemUid);

}

function handleWalletPayment(selectedAddressUid, WalletPaymentUid, selectedCartItemUid){
    console.log('Function Called')

    const orderData = {
        addressUid: selectedAddressUid,
        paymentUid: WalletPaymentUid,
        cartItemUid: selectedCartItemUid,
    };

    // Fetch to the specified URL with the collected data
    fetch("{% url 'save_order' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(orderData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        // Handle the response
        console.log('Order saved successfully:', data);

        if (data.status === 'error') {
            // Redirect to the checkout page with an error message
            Swal.fire({
                title: 'Error',
                text: data.message,
                icon: 'error',
                confirmButtonText: 'OK'
            }).then(() => {
                window.location.reload();
            });
        } else {
            // Redirect or perform other actions as needed
            window.location.href = 'thankyou';
        }
    })
    .catch(error => console.error('Error:', error));
}



function saveOrder(selectedAddressUid, onlinePaymentUid, selectedCartItemUid) {
    console.log('IS CALLED')
    const orderData = {
        addressUid: selectedAddressUid,
        paymentUid: onlinePaymentUid,
        cartItemUid: selectedCartItemUid
    };

    fetch("{% url 'save_order' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify(orderData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        // Handle the response if needed
        console.log('Order saved successfully:', data);
        const razorpayOptions = {
            "key": "{{api_key}}",
             
            "name": "Acme Corp", 
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "{{order_id}}", // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "http://127.0.0.1:8000/accounts/payment-callback/",
            "prefill": {
                "name": "V S Sadique", // Your customer's name
                "email": "vssadique785@gmail.com",
                "contact": "9000090000" // Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        console.log('Setting up event listeners for Razorpay');
            const rzp = new Razorpay(razorpayOptions);
            rzp.open();


    })
    .catch(error => console.error('Error:', error));
}






function changeQuantity(itemUid, action) {
    const quantityElement = document.getElementById(`qty-${itemUid}`);

    let newQuantity = parseInt(quantityElement.value);

    if (action === 'plus') {
      newQuantity++;
    } else if (action === 'minus' && newQuantity > 1) {
      newQuantity--;
    }else {

    return;
  }

  const minQuantity = parseInt(quantityElement.getAttribute('min'));
  const maxQuantity = parseInt(quantityElement.getAttribute('max'));

  if (newQuantity < minQuantity) {
    newQuantity = minQuantity;
  } else if (newQuantity > maxQuantity) {
    newQuantity = maxQuantity;
  }

    quantityElement.value = newQuantity;

    console.log(`Item UID: ${itemUid}, New Quantity: ${newQuantity}`);
    updateQuantityOnServer(itemUid, newQuantity);
  }

  function updateQuantityOnServer(itemUid, newQuantity) {
    const csrfToken = getCookie('csrftoken');

    if (!csrfToken) {
      console.error('CSRF token is missing.');
      return;
    }

    const data = {
      itemUid: itemUid,
      newQuantity: newQuantity
    };
   
    fetch("{% url 'change_quantity' %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! Status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
      const totalElement = document.getElementById(`total-${itemUid}`);
      const grandTotalElement = document.getElementById('grand-total');
      const grandSubTotalElement = document.getElementById('grand-subtotal');
      const DeliveryCharge = document.getElementById('delivery-charge');

      if (totalElement) {
        totalElement.textContent = `Price: ₹ ${data.newTotal}`;
      }

      if (grandTotalElement) {
        grandTotalElement.textContent = `₹ ${data.grand_total}`;
      }
      if (grandSubTotalElement) {
        grandSubTotalElement.textContent = `₹ ${data.final_total}`;
        grandSubTotalElement.style.fontWeight = '900';
      }
      if (DeliveryCharge) {
        DeliveryCharge.textContent = `₹ ${data.delivery_charge}`;
        
      }

    })
    .catch(error => console.error('Error:', error));
  }

  document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            var alertMessage = document.getElementById('alert-message');
            if (alertMessage) {
                alertMessage.style.display = 'none';
            }
        }, 5000);
    });

    </script>
{% endblock %}
