
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 71.4rem;
}.frame-1-6G7 {
  box-sizing: border-box;
  padding: 2.7rem 4.6rem 2.7rem 4.3rem;
  width: 100%;
  height: 80.7rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .group-3-sw5 {
    width: 100%;
    height: 69.1rem;
    margin-bottom: 6.2rem;
    box-sizing: border-box;
    padding: 2.481rem 1.3rem 0.9rem 2.216rem;

    .group-2-gn3 {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-qufv-1JX {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-tebh-kmu {
          margin: 0rem 2.2rem 0.1rem 0rem;
          width: 47.1845rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vrtz-53V {
            margin: 0rem 1rem 0.347rem 0.806rem;
            width: calc(100% - 1.8056rem);
            height: 2.6503rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .tax-invoice-tv3 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 2.271rem 0.117rem 0rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .auto-group-sylp-AsZ {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .order-id-od329825832079869100-7no {
                margin-bottom: 0.4503rem;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                font-size: 0.9rem;
                color: #000000;
                display: flex;
                flex-shrink: 0;

                .order-id-od329825832079869100-7no-sub-0 {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 0.9rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .order-id-od329825832079869100-7no-sub-1 {
                }
                .order-id-od329825832079869100-7no-sub-2 {
                  font-size: 0.9rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .order-date-01-12-2023-09-26-am-oBm {
                font-size: 0.9rem;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                align-items: baseline;

                .order-date-01-12-2023-09-26-am-oBm-sub-0 {
                  font-size: 0.9rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .order-date-01-12-2023-09-26-am-oBm-sub-1 {
                }
                .order-date-01-12-2023-09-26-am-oBm-sub-2 {
                  font-size: 0.9rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
            .auto-group-yx9d-sqq {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.019rem 0rem 0.019rem 1.808rem;

              .line-2-c2j {
                flex-shrink: 0;
                margin: 0.062rem 2.2rem 0rem 0rem;
                width: 0.1rem;
                height: 2.2738rem;
                background-color: #8d8787;
              }
              .auto-group-1fvo-hK5 {
                flex-shrink: 0;
                margin-bottom: 0.0645rem;
                height: 2.547rem;
                display: flex;
                flex-direction: column;

                .invoice-no-fapmji2400027981-o7D {
                  align-items: baseline;
                  font-size: 0.9rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  color: #000000;
                  display: flex;
                  flex-shrink: 0;
                  margin-bottom: 0.347rem;
                  font-weight: 500;
                  line-height: 1.2125;

                  .invoice-no-fapmji2400027981-o7D-sub-0 {
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 0.9rem;
                    font-weight: 300;
                    line-height: 1.2125;
                  }
                  .invoice-no-fapmji2400027981-o7D-sub-1 {
                  }
                }
                .invoice-date-01-12-2023-09-26-am-N3q {
                  font-size: 0.9rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  white-space: nowrap;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  align-items: baseline;
                  flex-shrink: 0;

                  .invoice-date-01-12-2023-09-26-am-N3q-sub-0 {
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 0.9rem;
                    font-weight: 300;
                  }
                  .invoice-date-01-12-2023-09-26-am-N3q-sub-1 {
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #000000;
                  }
                  .invoice-date-01-12-2023-09-26-am-N3q-sub-2 {
                  }
                }
              }
            }
          }
          .line-1-HKD {
            margin: 0rem 2.6rem 2.922rem 0rem;
            width: 44.5844rem;
            height: 0.1rem;
            background-color: #888888;
            flex-shrink: 0;
          }
          .auto-group-ay4k-1FD {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-left: 1.8845rem;

            .group-1-Whm {
              flex-shrink: 0;
              margin: 0.2rem 1.7rem 0rem 0rem;
              display: flex;
              flex-direction: column;

              .sold-by-Etf {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.2125;
              }
              .assiduus-distribution-private-limited-village-ghitorni-silver-oak-farms-road-no-2-newdelhi-110030-n9V {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 14.8rem;
                font-size: 0.7rem;
                font-weight: 400;
              }
            }
            .auto-group-dhqh-4co {
              margin: 0.1rem 2.4rem 0rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .shipping-address-CDD {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
              }
              .v-s-sadique-mundakayam-po-mundakayam-kkroad-kottayamkk-road-opposite-tvs-show-room-kallepalam-kottayam-district-686513-in-kl-XWP {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 13.2rem;
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
              }
            }
            .auto-group-psib-QKH {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .billing-address-ZT5 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 0.4rem 0.1rem;
                font-size: 0.9rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .v-s-sadique-mundakayam-po-mundakayam-kkroad-kottayamkk-road-opposite-tvs-show-room-kallepalam-kottayam-district-686513-in-kl-THZ {
                flex-shrink: 0;
                max-width: 13.2rem;
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .rectangle-3-wM9 {
          width: 9.6rem;
          height: 11.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
      .auto-group-nwao-sVh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.5rem 0rem 0rem 0.784rem;
        width: 100%;
        align-items: center;

        .rectangle-4-BWP {
          height: 18.3rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          width: 100%;
        }
        .seller-registered-address-assiduus-distribution-private-limited-357-first-floor-san-deigo-building-6th-main-rd-1st-block-koramangala-opp-wipro-park-bangalore-560034-L8P {
          max-width: 36.5rem;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 21.7rem 0.9rem 0rem;
        }
        .declaration-the-goods-sold-are-intended-for-end-user-consumption-and-not-for-resale-fssai-license-number-11219334002365-L1u {
          flex-shrink: 0;
          margin: 0rem 33.4rem 5.6rem 0rem;
          max-width: 24.4rem;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';

          .declaration-the-goods-sold-are-intended-for-end-user-consumption-and-not-for-resale-fssai-license-number-11219334002365-L1u-sub-0 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 0.9rem;
            font-weight: 700;
          }
          .declaration-the-goods-sold-are-intended-for-end-user-consumption-and-not-for-resale-fssai-license-number-11219334002365-L1u-sub-1 {
          }
          .declaration-the-goods-sold-are-intended-for-end-user-consumption-and-not-for-resale-fssai-license-number-11219334002365-L1u-sub-2 {
            font-family: Inter, 'Source Sans Pro';
            font-size: 0.7rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
          }
          .declaration-the-goods-sold-are-intended-for-end-user-consumption-and-not-for-resale-fssai-license-number-11219334002365-L1u-sub-3 {
          }
        }
        .ordered-through-assiduus-distribution-private-limited-authorized-signature-hYb {
          font-size: 0.9rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 9.9rem 39.1rem;
          max-width: 19.1rem;

          .ordered-through-assiduus-distribution-private-limited-authorized-signature-hYb-sub-0 {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .ordered-through-assiduus-distribution-private-limited-authorized-signature-hYb-sub-1 {
          }
        }
        .historia-1-DvF {
          height: 3.8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.4rem;
          width: 6.8rem;
        }
      }
    }
  }
}
