{% extends "base/new_base.html" %}


{% block content %}
<style>
    .custom-dropdown {
        position: relative;
        display: inline-block;
    }

    .selected-option {
        padding: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        min-width: 200px; /* Set a fixed width */
    }

     .edition_select {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid #ccc;
        border-top: none;
        display: none;
        background-color: #fff;
        z-index: 1;
    }
</style>


<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="POST" onsubmit="return validateProductForm()" enctype="multipart/form-data">

                        {% csrf_token %}
                        {% include 'base/alert.html ' %}
                        <div class="mb-4">
                            <label for="product_name"  class="form-label">Product title</label>
                            <input name="product_name" type="text" placeholder="Type here" class="form-control" id="product_name">
                        </div>
                        <div class="form-group">
                            <span id="productNameError"></span>
                        </div>
                        <div class="mb-4">
                            <label  class="form-label"  >Full description</label>
                            <textarea name="product_description" placeholder="Type here" class="form-control" id="product_description" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <span id="productDescriptionError"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" name="regular_price" id="regular_price" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <span id="regularPriceError"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Promotional price</label>
                                    <input placeholder="$" name="promotional_price" id="promotional_price" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <span id="promotionalPriceError"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">Currency</label>
                                <select name="currency" class="form-select">
                                    <option  id="currency"> INR </option>
                                 
                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Tax rate</label>
                            <input type="text" id="tax_rate" name="tax_rate" placeholder="%" class="form-control" >
                        </div>
                        <div class="form-group">
                            <span id="taxRateError"></span>
                        </div>
                        <div class="col-lg-5">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="card-body" style="display: flex; flex-direction: column;">
                                    <div class="input-upload">
                                        <img src="/media/assets/imgs/theme/upload.svg" alt="">
                                        <input class="image-input" type="file"  name="images" id="images" accept="image/*" multiple onchange="validateImage()" >
                                    </div>
                                    <!-- <button type="button" id="addMorePhotos" style="display: inline-block; width: 150px;">Add more photos</button> -->
                                </div>
                            </div> <!-- card end// -->

   
                        </div>
                        <div class="form-group">
                            <span id="imageError"></span>
                        </div>
                            <!-- Category Dropdown -->
    <div class="mb-4">
        <label class="form-label">Category</label>
        <select name="category" id="category" onclick="get_sub_category()" class="form-select" >
            <option selected >Select Category</option>
            {% for category in categories %}
                <option  >{{ category.category_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <span id="categoryError"></span>
    </div>
    
    <!-- Subcategory Dropdown -->
    <div class="mb-4">
        <label class="form-label">Subcategory</label>
        <select name="sub_category" id="sub_category" class="form-select">
            <option >Select Subcategory</option>

        </select>
    </div>
    <div class="form-group">
        <span id="subcategoryError"></span>
    </div>

<!-- Edition Variant Dropdown -->
<div class="mb-4">
    <label class="form-label">Edition Variant</label>
    <div class="custom-dropdown">
        <select name="edition_variant" id="edition_variant" multiple class="form-select edition_select" style="display: none;">
            {% for edition in editions %}
                <option value="{{ edition.name }}">{{ edition.name }}</option>
            {% endfor %}
        </select>
        <div class="selected-option" onclick="toggleDropdown('edition_variant')">Select Edition Variant</div>
    </div>
</div>

<div class="mb-4">
    <label class="form-label">Stock</label>
    <input type="number" id="stock" name="stock" placeholder="Stock" class="form-control" min="0" >
</div>
<div class="form-group">
    <span id="stockError"></span>
</div>


                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- card end// -->

        </div>

    </div>
</section>


<script>
    function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId);
        dropdown.style.display = (dropdown.style.display === 'none') ? 'block' : 'none';
    }

    document.addEventListener('DOMContentLoaded', function() {
        var dropdown = document.getElementById('edition_variant');
        dropdown.addEventListener('change', function() {
            var selectedOptions = Array.from(this.selectedOptions).map(option => option.value);
            var selectedOptionText = selectedOptions.length > 0 ? selectedOptions.join(', ') : 'Select Edition Variant';
            document.querySelector('.custom-dropdown .selected-option').textContent = selectedOptionText;
        });
    });



    function validateImage() {
        var input = document.getElementById('images');
        var errorSpan = document.getElementById('imageError');
        var validExtensions = ['jpg', 'jpeg', 'png'];

        if (input.files.length > 0) {
            for (var i = 0; i < input.files.length; i++) {
                var fileName = input.files[i].name;
                var extension = fileName.split('.').pop().toLowerCase();

                if (validExtensions.indexOf(extension) === -1) {
                    errorSpan.innerHTML = 'Please select only JPG or PNG images.';
                    input.value = ''; // Clear the input
                    return;
                }
            }
        }

        errorSpan.innerHTML = ''; // Clear any previous errors
    }
</script>
    




{% endblock %}


            <!-- <div class="card mb-4">
                <div class="card-header">
                    <h4>Organization</h4>
                </div>
                <div class="card-body">
                    <div class="row gx-2">
                        <div class="col-sm-6 mb-3">
                            <label class="form-label">Category</label>
                            
                        {% if product %}
                            
                            <a href="{% url 'get_subcategories' product.slug %}" class="btn btn-primary">Category</a>
                        {% else %}
                           
                            <a href="{% url 'get_subcategories' 0 %}" class="btn btn-primary">Category</a>
                        {% endif %}
                        </div>

                    </div> 
                </div>
            </div>  -->