{% extends "base/new_base.html" %}


{% block content %}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
            <p>Whole data about your business here</p>
        </div>
        <div>
            <a href="{% url 'export_data_to_excel' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Revenue</h6>
                        <span>&#8377;{{ total_revenue }}</span>
                        <span class="text-sm">
                            Shipping fees are not included
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Orders</h6> <span>{{total_count}}</span>
                        <span class="text-sm">
                            Excluding orders in transit
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Products</h6> <span>{{product_count}}</span>
                        <span class="text-sm">
                            In {{category_count}} Categories
                        </span>
                    </div>
                </article>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-body mb-4">
                <article class="icontext">
                    <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                    <div class="text">
                        <h6 class="mb-1 card-title">Monthly Earning</h6> <span>&#8377; {{monthly_revenue}}</span>
                        <span class="text-sm">
                            Based in your local time.
                        </span>
                    </div>
                </article>
            </div><!-- Add this script to your HTML file -->

            
        </div>
    </div>
    <div class="row">
        <div class="card mb-4">
            <article class="card-body">
                <h5 class="card-title">Sale statistics</h5>
                <div class="row col-12">
                    <!-- Filter dropdown on the left -->
                    <div class="col-md-4 col-6">
                        <label for="filter">Filter:</label>
                        <select id="filter" class="form-control" onchange="updateChart()">
                            <option value="monthly">Monthly</option>
                            <option value="weekly">Weekly</option>
                            <option value="daily">Daily</option>
                        </select>
                    </div>
                                        <!-- Date input field on the right -->
                                        <div class="col-md-4 col-6 ml-auto  " >
                        
                                        </div>
        
                    <!-- Date input field and button on the right -->
                    <div class="col-md-4 col-6 ml-auto">
                        <label for="newcustomDate">Select Date:</label>
                        <div class="input-group">
                            <input type="date" id="newcustomDate" class="form-control" >
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary " style="margin-left: 30px;" type="button" onclick="fetchData()">Fetch</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <canvas id="myChart" height="120px"></canvas>
            </article>
        </div>
        
        
               <div class="col-xl-8 col-lg-12">

            <div class="row">
                <div class="col-lg-5">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">New Members</h5>
                            <div class="new-member-list">
                                {% for profile in new_profiles %}
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-user-circle fa-2x mr-2"></i> <!-- Font Awesome user icon -->
                                            <div>
                                                <a href="">
                                                    <h6>{{ profile.user.get_full_name }}</h6>
                                                </a>
                                                {% if profile.country %}
                                                    <p class="text-muted font-xs">{{ profile.country }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a>
                                    </div>
                                {% endfor %}

                            

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Recent activities</h5>
                            <ul class="verti-timeline list-unstyled font-sm">
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="material-icons md-play_circle_outline font-xxl"></i>
                                    </div>
                                    <div class="media">
                                        <div class="me-3">
                                            <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                Lorem ipsum dolor sit amet consectetur
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list active">
                                    <div class="event-timeline-dot">
                                        <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                                    </div>
                                    <div class="media">
                                        <div class="me-3">
                                            <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                Debitis nesciunt voluptatum dicta reprehenderit
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="material-icons md-play_circle_outline font-xxl"></i>
                                    </div>
                                    <div class="media">
                                        <div class="me-3">
                                            <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                Accusamus voluptatibus voluptas.
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="material-icons md-play_circle_outline font-xxl"></i>
                                    </div>
                                    <div class="media">
                                        <div class="me-3">
                                            <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                At vero eos et accusamus et iusto odio dignissi
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="event-list">
                                    <div class="event-timeline-dot">
                                        <i class="material-icons md-play_circle_outline font-xxl"></i>
                                    </div>
                                    <div class="media">
                                        <div class="me-3">
                                            <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                Responded to need “Volunteer Activities
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">

            <div class="card mb-4">
                <article class="card-body">
                    <h5 class="card-title">Marketing Chanel</h5>
                    <span class="text-muted font-xs">Facebook</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                    </div>
                    <span class="text-muted font-xs">Instagram</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                    </div>
                    <span class="text-muted font-xs">Google</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                    </div>
                    <span class="text-muted font-xs">Twitter</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                    </div>
                    <span class="text-muted font-xs">Other</span>
                    <div class="progress mb-3">
                        <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                    </div>
                </article>
            </div>
        </div>
    </div>



    <!-- ----------------------------------best Products----------------------->




    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Best Selling Products</h4>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">Product Name</th>
                            <th class="align-middle" scope="col">Total Revenue</th>
                            <th class="align-middle" scope="col">Total Quantity</th>
                            <th class="align-middle" scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_info in best_products %}
                            <tr>
                                <td>{{ product_info.0.product_name }}</td>
                                
                                <td>&#8377; {{ product_info.2 }}</td>
                                <td>{{ product_info.1 }}</td>
                                <td>
                                    <a href="" class="btn btn-xs"> View details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



     <!-- ----------------------------------best Categories----------------------->

    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Best Selling Categories </h4>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">Category Name</th>
                            <th class="align-middle" scope="col">Total Revenue</th>
                            <th class="align-middle" scope="col">Total Quantity</th>
                            <th class="align-middle" scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, info in best_categories.items %}
                            <tr>
                                <td>{{ category }}</td>
                                
                                <td>&#8377; {{ info.total_revenue }}</td>
                                <td>{{ info.total_quantity }}</td>
                                <td>
                                    <a href="" class="btn btn-xs"> View details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

</section> <!-- content-main end// -->
<!-- Include jQuery -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Your existing script -->
<script>

function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }



   

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart;
    


    $(document).ready(function () {
        (function ($) {
            "use strict";

            // Sample data for demonstration
            var monthlyData = {{ monthly_data|safe }};

            var weeklyData = {{ weekly_data|safe }};
            var dailyData = {{ daily_data|safe }};

            

            // Initial data (monthly)
            var initialData = {
                labels: {{month_labels|safe}},
                datasets: [{
                    label: 'Sales',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: monthlyData.order_count,
                },
                {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: monthlyData.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: monthlyData.product_count,
                        
                    }
                ]
            };

            // Initial chart creation
            createChart(ctx, initialData);

            // Function to create or update the chart based on the selected filter
            function updateChart() {
                var filter = $('#filter').val();
                var newData;

                switch (filter) {
                    case 'monthly':
                        newData = {
                            labels: {{month_labels|safe}},                            
                            datasets: [{
                    label: 'Sales',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: monthlyData.order_count,
                },
                {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: monthlyData.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: monthlyData.product_count,
                        
                    },
                        ]
                        };
                        break;
                    case 'weekly':
                        newData = {
                            labels: {{week_labels|safe}},
                            datasets: [{
                    label: 'Sales',
                    tension: 0.3,
                    fill: true,
                    backgroundColor: 'rgba(44, 120, 220, 0.2)',
                    borderColor: 'rgba(44, 120, 220)',
                    data: weeklyData.order_count,
                },
                {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: weeklyData.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: weeklyData.product_count,
                        
                    },]
                        };
                        break;
                        case 'daily':
                            newData = {
                                labels: {{day_labels|safe}},
                                datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: dailyData.order_count,
                    },
                    {
                            label: 'Visitors',
                            tension: 0.3,
                            fill: true,
                            backgroundColor: 'rgba(4, 209, 130, 0.2)',
                            borderColor: 'rgb(4, 209, 130)',
                            data: dailyData.user_count,
                        },
                        {
                            label: 'Products',
                            tension: 0.3,
                            fill: true,
                            backgroundColor: 'rgba(380, 200, 230, 0.2)',
                            borderColor: 'rgb(380, 200, 230)',
                            data: dailyData.product_count,

                    },]
                        };
                        break;
                    default:
                        // Default to monthly data
                        newData = initialData;
                        break;
                }

                createChart(ctx, newData);
            }

            // Function to create the chart
            function createChart(ctx, data) {
                if (chart) {
                    // If chart exists, destroy it before creating a new one
                    chart.destroy();
                }

                chart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        plugins: {
                            legend: {
                                labels: {
                                    usePointStyle: true,
                                },
                            }
                        }
                    }
                });
            }

            // Attach the updateChart function to the change event of the filter dropdown
            $('#filter').change(updateChart);

        })(jQuery);



       });


       function createChart(ctx, data) {
        if (chart) {
            // If chart exists, destroy it before creating a new one
            chart.destroy();
        }

        chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        },
                    }
                }
            }
        });
    }


       function fetchData() {
    var selectedDate = document.getElementById('newcustomDate').value;
    var csrftoken = getCookie('csrftoken');

    fetch("{% url 'filter_chart' %}", {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken, 
        },
        body: JSON.stringify({ date: selectedDate }),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);

        var filter = $('#filter').val();
        var newData;

        switch (filter) {
            case 'monthly':
                newData = {
                    labels: data.month_labels,
                    datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: data.monthly_data.order_count,
                    },
                    {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: data.monthly_data.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: data.monthly_data.product_count,
                    }]
                };
                break;
            case 'weekly':
            newData = {
                    labels: data.weekly_labels,
                    datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: data.weekly_data.order_count,
                    },
                    {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: data.weekly_data.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: data.weekly_data.product_count,
                    }]
                };
                
                break;
            case 'daily':
            newData = {
                    labels: data.day_labels,
                    datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: data.daily_data.order_count,
                    },
                    {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: data.daily_data.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: data.daily_data.product_count,
                    }]
                };
                break;
            default:
            newData = {
                    labels: data.month_labels,
                    datasets: [{
                        label: 'Sales',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(44, 120, 220, 0.2)',
                        borderColor: 'rgba(44, 120, 220)',
                        data: data.monthly_data.order_count,
                    },
                    {
                        label: 'Visitors',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(4, 209, 130, 0.2)',
                        borderColor: 'rgb(4, 209, 130)',
                        data: data.monthly_data.user_count,
                    },
                    {
                        label: 'Products',
                        tension: 0.3,
                        fill: true,
                        backgroundColor: 'rgba(380, 200, 230, 0.2)',
                        borderColor: 'rgb(380, 200, 230)',
                        data: data.monthly_data.product_count,
                    }]
                };
                break;
        }

        createChart(ctx, newData); // Assuming ctx is the chart context variable

    })
    .catch(error => {
        console.error('Error:', error);
    });
}
    


   


</script>




{% endblock %}


