{% extends "base/new_base.html" %}


{% block content %}

{% if nothing %}
{% include "base/alert.html" %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'admin_variance' %}" class="btn btn-dark">
                    Go back
                  </a>
            </div>
        </div>
    </div>
</div>
{% else %}

<section class="content-main">
    <div class="content-header">
        <div>
          
            <h2 class="content-title card-title">Variant details </h2>
            <p>Edit a  Variant</p>
       


   

        </div>

    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form method="POST" action="{% url 'admin_edit_variant' variant.uid %}">
                        {% csrf_token %}
                        {% include "base/alert.html" %}
                        <div class="mb-4">
                            <label for="variant_name"  class="form-label">Name</label>
                       
                            <input type="text" placeholder="Type here" value="{{variant.name}}" class="form-control" name="variant_name" id="variant_name">
                        </div>
                        <div class="mb-4">
                            <label for="price"  class="form-label">Price</label>
                            <input type="number" placeholder="Type here" value="{{variant.price}}" class="form-control" name="price" id="price" min="0">
                        </div>

                        <div class="d-grid mb-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        <hr> <!-- Horizontal line for separation -->
                        <button class="btn btn-dark" type="button" onclick="showDeleteConfirmation('{{ variant.uid }}')" >
                            Delete
                        </button>
                        

                    
                        
                    
                        </form>
 
                </div>
                

            </div> 
        </div> 
    </div> 
</section>

{% endif %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    
    function showDeleteConfirmation(uid) {
        
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this Variant value!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
           
            if (result.isConfirmed) {
                window.location.href = '{% url "delete_variant" 0 %}'.replace('0', uid);
            }
        });
    }


//     function goBack() {
//     console.log('Going back to admin_variance');
//     window.location.href = '{% url "admin_variance" %}';
// }
</script>





{% endblock %}


